header {
  width: 100%;
  height: 12vh;
  background-image: url("../../assets//Piqui_fundo.png");
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  color: white;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

header.scrolled {
  background-color: #0000007c;
  backdrop-filter: blur(10px);
}

.nome h1 {
  margin-left: 10px;
  font-size: 1.8rem;
  padding: 5px 30px;
  font-weight: bold;
  color: rgb(46, 46, 46);
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlide 1.5s ease forwards;
  background-image: url("../../assets/Papel.jpg");
  background-size: cover;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-center {
  position: absolute;
  right: 0%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}


.nav-center a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  background-image: url("../../assets/Papel.jpg");
  background-size: cover;
  padding: 5px 30px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlide 1.5s ease forwards;
}

.nav-center a:hover {
  color: rgb(161, 101, 33);
}

.nav-center a.active {
  color: rgb(180, 117, 0);
  font-weight: bold;
}